<div class="border border-gray-200 flex flex-col h-full">
  <header class="flex flex-col items-center">
    <p class="text-sm mt-1" *ngIf="rowIndex === 0">{{day?.format('ddd')?.toUpperCase()}}</p>
    <p class="text-sm p-1 my-1 text-center" [ngClass]="{ 'bg-blue-600 text-white rounded-full w-7': isCurrnetDay }">{{day?.format('DD')}}</p>
  </header>
  <div class="flex-1 cursor-pointer" (click)="handleAddEvent(day!)">
    <div *ngFor="let event of dayEvents$ | async" class="p-1 mr-3 text-gray-600 rounded text-xs truncate list-disc flex hover:bg-gray-100" (click)="handleSetSelectedEvent(event)">
      <div class="border-4 rounded-full mr-2 h-0 my-auto" [ngStyle]="{'borderColor': event.label}"></div>
      <span>{{event.title}}</span>
    </div>
  </div>
</div>
