<div class="mt-9">
  <header class="flex justify-between">
    <p class="text-gray-500 font-bold">{{currentMonthDate$ | async}}</p>
    <div>
      <button><span class="material-icons-outlined cursor-pointer text-gray-600 mx-2" (click)="handlePrevMonth()">chevron_left</span></button>
      <button><span class="material-icons-outlined cursor-pointer text-gray-600 mx-2" (click)="handleNextMonth()">chevron_right</span></button>
    </div>
  </header>
  <div class="grid grid-cols-7 grid-rows-6">
    <ng-container *ngIf="currentMonth$ | async as currentMonth">
      <span class="text-sm py-1 text-center text-gray-500" *ngFor="let day of currentMonth[0]">{{day.format('dd').charAt(0)}}</span>
      <ng-container *ngFor="let week of currentMonth" class="py-1 w-full">
        <button *ngFor="let day of week" class="py-1 w-full" [ngClass]="getDayClass(day)" (click)="handleDayClick(day)">
          <span class="text-sm">{{day.format('D')}}</span>
        </button>
      </ng-container>
    </ng-container>
  </div>
</div>
